{% extends 'myapp/basic.html' %}
{% load static %}
{% load myfilter %}

{% block title %}
Registraction Form
{% endblock title %}

{% block css %}
 <style>
    body{
        background-color: aqua;
    }
    .errorlist{
        color: #f51414;
    }
    .register-form{
        width: 100%;
        max-width: 500px;
        margin: auto;
        margin-top: 40px;
        padding: 20px;
        background-color: rgb(1, 9, 15);
        color: antiquewhite;
        border-top: #2c08f7;
        border-radius: 5px;
    }
    .mainheading{
        text-align: center;
    }
    /* .main-area{
        display: flex;
        align-items: center;
        /* background-color: aqua; */
    /* } */ 
 </style>
{% endblock css %}

{% block body %}
<div class="container my-5 main-area "  >
    <div class="register-form">
    <form method="post" novalidate>
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {{ form.non_field_erros }}
        <h2 class="mainheading" >Wonder Shop</h2>
        <h4 class="mainheading" >Login Form</h4>
        <label for="id_email" class="login-labels my-2">Email Address*</label>
        {{ form.username.errors }}
     {{ form.username|addclass:'form-control' |addplaceholder:'Enter Email Address*'}}
       
        <label for="id_password1" class="login-labels my-2">Password*</label>
        {{ form.password.errors }}
        {{ form.password|addclass:'form-control' |addplaceholder:'Enter Password*'}}
       
        <button type="submit" class="btn btn-primary my-2">Login</button>
    </form>
</div>
</div>

{% endblock body %}